.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 60px 0;
}

.login-form__title {
  font-size: 32px;
  font-weight: 700;
  margin-top: 180px;
  color: #222;
}

.login-form__body{
  width: 390px;
  height: 280px;
  padding: 16px;
  margin-top: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}


.login-form__field {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.pWd-form__field{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form__label {
  font-weight: 700;
  color: #111;
  margin-bottom: 7px; 
  align-self: flex-start; 
}

.login-form__input {
  width: 100%;
  height: 35px;
  padding: 0 14px;
  border: 1.5px solid #515251;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s;
  
}

/*.login-form__input:focus {
  border-color: #ccff00;
}*/

.login-form__button {
  width: 100%;
  height: 35px;
  background-color: #ACA0EB;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.2s;
}

.login-form__button:hover {
  background-color: #7F6AEE;
}

.helper-text {
  margin-top: 3px;
  font-size: 12px;
  color: rgb(255, 0, 0);
}

.signup-text {
  margin-top: 10px;
  font-size: 14px;
  color: #ababab;
  text-align: center;
  cursor: pointer;
  transition: color 0.2s;
}

.signup-text:hover {
  color: #5b4ee6;
}
