@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

:root {
  --layout-width: 600px;
  --content-width: 600px;
  --header-height: 104px;
  --font-family-base: "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f5f7;
  font-family: var(--font-family-base);
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

#root {
  width: 100%;
  max-width: var(--layout-width);
  min-height:100%;
  background: #fff;
  border: 1px solid #dcdcdc;
}

header {
  position: relative;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header__inner h1 {
  font-size: 28px;
  font-weight: 600;
  color: #222;
  text-align: center;
  flex: 1;
}

.header__inner .profile {
  position: absolute;
  right: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #000;
}

main {
  padding: 32px 0 120px;
}
